<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thoughtworks.ketsu.infrastructure.mybatis.mappers.ReturnOrderMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="info.id" keyColumn="id">
        INSERT INTO return_orders (order_id, amount)
        VALUES (#{info.order_id}, #{info.amount});
        SET @LAST = LAST_INSERT_ID();
        INSERT INTO return_order_items (return_order_id, product_id, quantity) VALUES
        <foreach collection="info.return_order_items" item="item" open="(" separator="," close=")">
            @LAST , #{item.product_id}, #{item.quantity}
        </foreach>
    </insert>

    <select id="getList" resultMap="records.return_order">
            SELECT * FROM return_orders
     </select>

    <select id="getById" resultMap="records.return_order">
            SELECT * FROM return_orders
            WHERE id=#{rid}
     </select>
</mapper>
