<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thoughtworks.ketsu.infrastructure.mybatis.mappers.ConfirmationMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="info.id" keyColumn="id">
        INSERT INTO confirmations (order_id, recipient)
        VALUES (#{info.order_id}, #{info.recipient});
    </insert>
</mapper>
