<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thoughtworks.ketsu.infrastructure.mybatis.mappers.OrderMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="info.id" keyColumn="id">
        INSERT INTO orders (name, address, phone ,user_id, amount)
        VALUES (#{info.name}, #{info.address}, #{info.phone}, #{info.user_id}, #{info.amount});
        SET @LAST_ORDER = LAST_INSERT_ID();
        INSERT INTO order_items (order_id, product_id, quantity) VALUES
        <foreach collection="info.order_items" item="order_item" open="(" separator="," close=")">
            @LAST_ORDER , #{order_item.product_id} , #{order_item.quantity}
        </foreach>
    </insert>

    <select id="getOrders" resultMap="records.order">
        SELECT * FROM orders o, order_items i WHERE o.id=i.order_id AND o.user_id=#{uid}
    </select>

    <select id="getById" resultMap="records.order">
        SELECT * FROM orders o, order_items i
        WHERE o.id=#{iid} and o.id=i.order_id
    </select>
</mapper>
